html {
    height: 100%;
}

body {
    min-height: 100%;
}

.vertical-expansion {
    height: 100vh !important;
}

.window-border {
    height: auto;
    min-height: 5rem;
}


.col-bottom-p > .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding-bottom: 15px;
}