{% extends 'base.html' %}

{% block title %}Установка{% endblock %}

{% block body %}
    <div class="container">
        <div class="row align-items-center justify-content-center vertical-expansion">
            <div class="col-5">
                <div class="card">
                    <div class="card-header">Установка</div>
                    <div class="card-body">
                        <form method="post" action="">
                            {{ form.hidden_tag() }}
                            <p class="h3">Аккаунт администратора</p>
                            <div class="form-group">
                                {{ form.login.label(text="Логин") }}
                                {% if form.login.errors %}
                                    {{ form.login(class="form-control is-invalid", placeholder="Логин", value="root") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.login.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.login(class="form-control", placeholder="Логин", value="root") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.name.label(text="Имя") }}
                                {% if form.name.errors %}
                                    {{ form.name(class="form-control is-invalid", placeholder="Имя (необязательно)") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.name(class="form-control", placeholder="Имя (необязательно)") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.password.label(text="Пароль") }}
                                {% if form.password.errors %}
                                    {{ form.password(class="form-control is-invalid", placeholder="Пароль") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(class="form-control", placeholder="Пароль") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.repeat_password.label(text="Подтвердите пароль") }}
                                {% if form.repeat_password.errors %}
                                    {{ form.repeat_password(class="form-control is-invalid", placeholder="Повторите пароль") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.repeat_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.repeat_password(class="form-control", placeholder="Повторите пароль") }}
                                {% endif %}
                            </div>
                            {{ form.submit(class="btn btn-outline-primary", value="Готово") }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}