{% extends "dashboard.html" %}

{% block menu %}
    <div class="card">
        <div class="card-header">
            {{ current_user.login }}
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action text-white active">Главная</a>
            <a href="/dashboard/users" class="list-group-item list-group-item-action">Пользователи</a>
            <a href="/signout" class="list-group-item list-group-item-action">Выйти</a>
        </div>
    </div>
{% endblock %}

{% block main_block %}
    <div class="row m-0 col-bottom-p">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Информация о системе
                </div>
                <div class="card-body">
                    <table class="table table-borderless mb-0">
                        <tr>
                            <td>Процессор</td>
                            <td>{{ sys_info['processor'] }}</td>
                        </tr>
                        <tr>
                            <td>Размер дискового пространства</td>
                            <td>{{ sys_info['disk'][0] }} / {{ sys_info['disk'][1] }}</td>
                        </tr>
                        <tr>
                            <td>Оперативная память</td>
                            <td>{{ sys_info['ram'][0] }} / {{ sys_info['ram'][1] }}</td>
                        </tr>
                        <tr>
                            <td>Файл подкачки (swap)</td>
                            <td>{{ sys_info['swap'][0] }} / {{ sys_info['swap'][1] }}</td>
                        </tr>
                        <tr>
                            <td>Продолжительность работы</td>
                            <td>{{ sys_info['uptime'] }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Журнал посещений
                </div>
                <div class="card-body">
                    <table class="table table-borderless mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Дата</th>
                                <th scope="col">Пользователь</th>
                                <th scope="col">IP</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for visit in visits %}
                                <tr>
                                    <th>{{ visit.timestamp|timetodate }}</th>
                                    <td>{{ visit.login }}</td>
                                    <td>{{ visit.address }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}