{% extends "dashboard.html" %}
{% from "functions.html" import menu %}

{% block menu %}
    {{ menu(current_user.login, 'main') }}
{% endblock %}

{% block main_block %}
    <div class="row m-0 col-bottom-p">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% for category, message in messages %}
                <div class="col-12">
                    <div class="alert alert-{{ category }} m-0">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endwith %}
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Информация о системе
                </div>
                <div class="card-body">
                    <table class="table table-borderless mb-0">
                        <tr>
                            <td>Процессор</td>
                            <td>{{ sys_info['processor'] }}</td>
                        </tr>
                        <tr>
                            <td>Размер дискового пространства</td>
                            <td>{{ sys_info['disk'][0] }} / {{ sys_info['disk'][1] }}</td>
                        </tr>
                        <tr>
                            <td>Оперативная память</td>
                            <td>{{ sys_info['ram'][0] }} / {{ sys_info['ram'][1] }}</td>
                        </tr>
                        {% if sys_info['swap'][1] != '0B' %}
                        <tr>
                            <td>Файл подкачки (swap)</td>
                            <td>{{ sys_info['swap'][0] }} / {{ sys_info['swap'][1] }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Продолжительность работы</td>
                            <td>{{ sys_info['uptime'] }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Журнал посещений
                </div>
                <div class="card-body">
                    <table class="table table-borderless mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Дата</th>
                                <th scope="col">Пользователь</th>
                                <th scope="col">IP</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for visit in visits %}
                                <tr>
                                    <th>{{ visit.timestamp|timetodate }}</th>
                                    <td>{{ visit.login }}</td>
                                    <td>{{ visit.address }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}