{% extends "dashboard.html" %}
{% from "functions.html" import menu %}

{% block title %}Инструменты{% endblock %}

{% block menu %}
    {{ menu(current_user.login, 'tools') }}
{% endblock %}

{% block main_block %}
    <div class="row m-0 col-bottom-p">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% for category, message in messages %}
                <div class="col-12">
                    <div class="alert alert-{{ category }} m-0">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endwith %}
        <div class="col-6">
            <div class="card">
                <div class="card-header">Система</div>
                <div class="list-group list-group-flush">
                    <a href="/tool/exec" class="list-group-item list-group-item-action">Выполнить команду</a>
                    <a href="/tool/cpu_usage" class="list-group-item list-group-item-action">Использование
                        процессора</a>
                    <a href="/tool/process_list" class="list-group-item list-group-item-action">Список процессов</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">TestDash</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-danger" style="user-select:none;cursor:pointer" id="reset">Сброс</a>
                       id="reset">Сброс</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">Сервер</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-danger" style="user-select:none;cursor:pointer" id="shutdown">Выключить</a>
                       id="shutdown">Выключить</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="confirmTitle" class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <form id="confirmModalForm" method="post" action="">
                    {{ form.hidden_tag() }}
                    <div class="modal-body">
                        <p id="confirmText"></p>
                        <div class="form-group">
                            {{ form.confirmation.label(text="Для потдверждения введите свой пароль") }}
                            {% if form.confirmation.errors %}
                                {{ form.confirmation(class="form-control is-invalid", placeholder="Пароль") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirmation.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.confirmation(class="form-control", placeholder="Пароль") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        {{ form.submit(class="btn btn-danger", value="Подтвердить") }}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $('#reset').on('click', function () {
            $('#confirmModal').modal('show');
            $('#confirmModalForm').attr('action', '/tool/reset');
            $('#confirmText').text('Вы уверены что хотите сделать сброс, это приведёт к потерии всех данных.');
            $('#confirmTitle').text('Сброс');
        });
        $('#shutdown').on('click', function () {
            $('#confirmModal').modal('show');
            $('#confirmModalForm').attr('action', '/server/shutdown');
            $('#confirmText').text('Вы уверены что хотите выключить сервер.');
            $('#confirmTitle').text('Выключение сервера');
        })
    </script>
{% endblock %}